<div class="container">
  <h1>文件列表</h1>

  <%= form_tag(user_home_attachments_path, class: "form-horizontal", multipart: true) do %>
      <div class="col-sm-12">
        <%= file_field_tag :file, class: 'form-controller' %>
      </div>

      <div class="col-sm-12">
        <%= submit_tag '上传', class: 'btn btn-primary' %>
      </div>
  <% end %>

  <table class="table table-striped">
    <thead>
    <th>#</th>
    <th>文件名</th>
    <th>小图</th>
    <th>上传日期</th>
    <th>操作</th>
    </thead>

    <tbody>
    <% @attachments.each do |att| %>
        <tr>
          <td><%= att.id %></td>
          <td><%= att.file_file_name %></td>
          <td><%=image_tag(att.file.url, width: '200px') if att.is_image? %></td>
          <td><%= att.created_at %></td>
          <td><%= link_to '预览', att.file.url, class: 'btn btn-primary' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @attachments %>
</div>


