<div class="container">
  <h1>文件列表</h1>

  <%= form_tag(user_home_attachments_path, class: "form-horizontal", multipart: true) do %>
      <div class="col-sm-12">
        <%= file_field_tag :file, class: 'form-controller' %>
        <div style="right: 2px; top: 0px; position: absolute;">
          <%= submit_tag '上传', class: 'btn btn-primary' %>
        </div>
      </div>

  <% end %>

  <table class="table table-striped">
    <thead>
    <th>预览</th>
    <th>操作</th>
    </thead>

    <tbody>
    <% @attachments.each do |att| %>
        <% if att.image.present?
             url = att.image.url(:thumb)
             file_name = att.image_file_name
             origin_url = att.image.url
           else
             file_name = att.file_file_name
             url = default_attachment_url
             origin_url = att.file.url
           end
        %>
        <tr>
          <td style="text-align: center">
            <%= image_tag(url, width: '200px')  %><br>
            <%= file_name %><br>
            <%= att.created_at  %><br>
          </td>
          <td><%= link_to '查看原件', origin_url, class: 'btn btn-primary' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= paginate @attachments %>
</div>


