<div class="container">
  <h1>交易记录</h1>

  <div class="query_area row">


    <%= form_for( '', method: 'GET', html: {class: 'form-group'}) do %>
        <div>
          官方今日收入约：<%= (@eos_knights_today.map{|ekt| ekt.get_original_quantity }.sum - @eos_knights_today.sum(:quantity)).round(4) %> EOS
        </div>
        <div class="form-group row">
          <label class="col-sm-2 control-label">买入人：</label>
          <div class="col-sm-4">
            <%= text_field_tag :buyer, params[:buyer], class:"form-control" %>
          </div>

          <label class="col-sm-2 control-label">卖出人：</label>
          <div class="col-sm-4">
            <%= text_field_tag :receiver, params[:receiver], class:"form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <%= submit_tag '搜索', class: 'btn btn-sm btn-primary' %>
            <%= button_tag '清空', type: 'button',class: 'form_reset btn btn-sm btn-primary' %>
          </div>
        </div>
    <%end %>
  </div>


  <div class="book_list row">
    <% @eos_knights.each  do |eos_knight| %>
        <div class="card" style="width: 22rem;margin: 5px">
          <div class="card-header">
            <%
              if eos_knight.item_sale?
                image_path = "/eos_knights/items/item_#{eos_knight.category_id}.png"
                obj_filter = "category_id=#{eos_knight.category_id}"
              else
                image_path = "/eos_knights/materials/rm_#{eos_knight.category_id}.png"
                obj_filter = "category_id=#{eos_knight.category_id}"
              end
            %>
            <a href="/dapps/eos_knights?<%= obj_filter %>">
              <img src="<%= image_path %>" style="width: 40px;"/>
            </a>
            <span style="color: red">
              <%= eos_knight.get_original_quantity %> EOS
            </span>
            <span>
              <%= (eos_knight.trx_time + 8.hours).strftime("%F %T") %>
            </span>
          </div>

          <div class="card-body">
            <div>
              卖出者 <%= eos_knight.receiver %> [+<%= eos_knight.quantity %> EOS]
            </div>
            <div>
              买入者 <%= eos_knight.buyer %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <%= paginate @eos_knights %>
</div>