
<div class="container">
  <h1><%= @book.title %>-添加章节</h1>
  <div>
    <%= form_for(@book_chapter, url: book_path, html:{ class: "form-horizontal"}) do |f| %>
      <%= hidden_field_tag :book_id, @book.id  %>
      <div class="form-group">
        <label class="col-sm-1 control-label">章节名</label>
        <div class="col-sm-11">
          <%= f.text_field :title, class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-1 control-label">内容</label>
          <div class="col-sm-11">
            <%= f.text_area :content,  { class: "form-control h-250" }%>
          </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">字数</label>
        <div class="col-sm-11">
          <%= f.text_field :word_count, value: @book_chapter.word_count.to_i, class: "form-control", require: true, readonly: true%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">卷标</label>
        <div class="col-sm-11">
          <%= f.select :book_volume_id, @book_volumes, {}, class: "form-control", require: true%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-1 control-label">上一章</label>
        <div class="col-sm-11">
          <%= text_field_tag :prev_chapter_name, @book_chapter.prev_chapter.try(:title), class: "form-control", readonly: true%>
          <%= f.hidden_field :prev_chapter_id, value: @book_chapter.prev_chapter.try(:id), class: "form-control", readonly: true%>
        </div>
      </div>

      <%= f.submit '提交', class: "btn btn-primary float-r" %>
    <% end %>
  </div>
</div>

<script>
    $(function(){
      $("#book_chapter_book_volume_id").on("change", function(){
        $.ajax({
            url: '/books/<%=@book.id %>/chapters/get_chapter?book_volume_id='+$(this).val(),
            dataType:'json',
            type:'get',
            success: function(data){
                $("#prev_chapter_name").val(data.name)
                $("#book_chapter_prev_chapter_id").val(data.id)
            }
        })
      })

      var editor;
      editor = KindEditor.create('#book_chapter_content', {
        "width": "100%",
        "height": 600,
        "items": ["fontname", "fontsize", "|",
          "forecolor", "hilitecolor", "bold", "italic", "underline", "removeformat", "|",
          "justifyleft", "justifycenter", "justifyright", "insertorderedlist", "insertunorderedlist", "|",
          "emoticons", "image", "link"],
        afterChange: function(){
          $("#book_chapter_word_count").val(editor.count('text'));
        }
      })

    })


</script>