<div class="container big_show">
  <nav>
    <ul class="pager">
      <li>
        <%= link_to '上一章(快捷键↑)', big_show_book_book_chapter_path(@book, prev_chapeter_by(20, @prev_book_chapter).prev_chapter_id) if prev_chapeter_by(20, @prev_book_chapter).prev_chapter_id.to_i != 0 %>
      </li>
      <li>
        <%= link_to '目录', book_path(@book)%>
      </li>
      <li>
        <%= link_to '下一章(快捷键↓)', big_show_book_book_chapter_path(@book, @book_chapter.next_chapter_id) if @book_chapter.next_chapter_id.to_i != 0 %>
      </li>
    </ul>
  </nav>

  <% @arr.each do |book_chapter| %>
    <%= render 'chapter_content', book_chapter: book_chapter %>
  <%end %>

  <nav>
    <ul class="pager">
      <li>
        <%= link_to '上一章(快捷键↑)', big_show_book_book_chapter_path(@book,  prev_chapeter_by(20, @prev_book_chapter).prev_chapter_id) if prev_chapeter_by(20, @prev_book_chapter).prev_chapter_id.to_i != 0 %>
      </li>
      <li>
        <%= link_to '目录', book_path(@book)%>
      </li>
      <li>
        <%= link_to '下一章(快捷键↓)', big_show_book_book_chapter_path(@book, @book_chapter.next_chapter_id) if @book_chapter.next_chapter_id.to_i != 0 %>
      </li>
    </ul>
  </nav>

</div>


<script type="text/javascript">
  $(function() {
    $(window).bind('keydown', function(e){
      // listen for arrow keys
      if (e.keyCode == 38){
        location.href = '<%= big_show_book_book_chapter_path(@book, prev_chapeter_by(20, @prev_book_chapter).prev_chapter_id) if prev_chapeter_by(20, @prev_book_chapter).prev_chapter_id.to_i != 0 %>'
      }
      else if (e.keyCode==40){
        location.href = '<%= book_book_chapter_path(@book, @book_chapter.next_chapter_id) if @book_chapter.next_chapter_id.to_i != 0 %>'
      }
    })
  })
</script>