<div class="container">
  <h1><%= @book.title %>-添加章节</h1>
  <div>
    <%= form_for(@book_chapter, url: book_book_chapters_path, html:{ class: "form-horizontal"}) do |f| %>
      <%= hidden_field_tag :book_id, @book.id  %>
      <div class="form-group">
        <label class="col-sm-2 control-label">章节名</label>
        <div class="col-sm-10">
           <%= f.text_field :title, class:"form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">内容</label>
        <div class="col-sm-10">
          <%= f.text_area :content,  { class: "form-control" }%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">卷标</label>
        <div class="col-sm-10">
          <%= f.select :book_volume_id, @book_volumes, {include_blank: "选择卷标" }, class: "form-control", require: true%>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label">上一章</label>
        <div class="col-sm-10">
          <%= text_field_tag :prev_chapter_name, "", class: "form-control", readonly: true%>
          <%= f.hidden_field :prev_chapter_id, class: "form-control", readonly: true%>
        </div>
      </div>

      <%= f.submit '提交', class: "btn btn-primary float-r" %>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    $("#book_chapter_book_volume_id").on("change", function(){
        if($(this).val() != ""){
            $.ajax({
                url: '/books/<%=@book.id %>/chapters/get_chapter?book_volume_id='+$(this).val(),
                dataType:'json',
                type:'get',
                success: function(data){
                    $("#prev_chapter_name").val(data.name)
                    $("#book_chapter_prev_chapter_id").val(data.id)
                }
            })
        }
    })
  })
</script>