<div class="container ">
  <div class="book-header">
    <h1 class="book-title"><%= @book_chapter.title %></h1>
    <% if have_author_authority?(@book) %>
        <div class="float-r ">
          <%= link_to '编辑', edit_book_book_chapter_path(@book, @book_chapter), 'data-no-turbolink' => true, class: 'btn btn-sm btn-primary'%>
        </div>
    <% end %>
    <p class="lead book-description">welcome to wangping .</p>
  </div>
  <div class="book-main">
    <div class="col-sm-12 bg-white pad-5 book-content">
        <%=raw @book_chapter.content %>
    </div>
  </div>

  <nav class="">
    <ul class="pager">
      <li>
        <%= link_to '上一章', book_book_chapter_path(@book, @book_chapter.prev_chapter_id) if @book_chapter.prev_chapter_id.to_i != 0 %>
      </li>
      <li>
        <%= link_to '目录', book_path(@book)%>
      </li>
      <li>
        <%= link_to '下一章', book_book_chapter_path(@book, @book_chapter.next_chapter_id) if @book_chapter.next_chapter_id.to_i != 0 %>
      </li>
    </ul>
  </nav>

</div>


