<script src="/assets/turnjs4/lib/turn.min.js"></script>

<div class="container ">
  <div class="book-header">
    <h1 class="book-title"><%= @book_chapter.title %></h1>
        <div class="float-r ">
          <% if have_author_authority?(@book) %>
              <%= link_to '编辑', edit_book_book_chapter_path(@book, @book_chapter), 'data-no-turbolink' => true, class: 'btn btn-sm btn-primary'%>
              <%= link_to '删除', book_book_chapter_path(@book, @book_chapter), method: :delete, 'data-no-turbolink' => true, class: 'btn btn-sm btn-primary'%>
          <% end %>
          <%if have_do_authority?(@book) %>
              <%= link_to '查看大章', big_show_book_book_chapter_path(@book, @book_chapter), 'data-no-turbolink' => true, class: 'btn btn-sm btn-primary'%>
          <% end %>
        </div>
    <p class="lead book-description">欢迎来到王平的书城</p>
  </div>

  <div class="book-main">
    <h4>上一页(快捷键:←) 下一页(快捷键:→) 上一章(快捷键↑) 下一章(快捷键↓)</h4>
    <span class="turn_message color-red"></span>
    <div id="_book_chapter_content" class="col-sm-12 bg-white pad-5 book-content" style="font-size: <%= params[:font_size].to_i == 0 ? 14: params[:font_size].to_i  %>px">
        <%=raw @book_chapter.content %>
    </div>
  </div>
  <%=render 'page'  %>

</div>
<!--
←↑→↓↖↙↗↘↕
<div id="flipbook">-->
  <!--<div class="hard"> Turn.js </div>-->
  <!--<div class="hard"></div>-->
  <!--<div> Page 1 </div>-->
  <!--<div> Page 2 </div>-->
  <!--<div> Page 3 </div>-->
  <!--<div> Page 4 </div>-->
  <!--<div class="hard"></div>-->
  <!--<div class="hard"></div>-->
<!--</div>-->
<script type="text/javascript">
  $(function() {
    $.ajax({
      url: "/books/<%= @book.id %>/chapters/<%= @book_chapter.id %>/turn_js_show?width=" + $("#_book_chapter_content").css("width")+"&font_size="+<%= params[:font_size].to_i %>+"&h_size="+$("#_book_chapter_content h2").css("height"),
      dataType: 'script'
    })

    $(window).bind('keydown', function(e){
      // listen for arrow keys
      if (e.keyCode == 38){
        location.href = '<%= book_book_chapter_path(@book, @book_chapter.prev_chapter_id) if @book_chapter.prev_chapter_id.to_i != 0 %>'
      }
      else if (e.keyCode==40){
        location.href = '<%= book_book_chapter_path(@book, @book_chapter.next_chapter_id) if @book_chapter.next_chapter_id.to_i != 0 %>'
      }
    })
  })
</script>

