<div class="container">
  <h1>书籍列表</h1>
  <table class="table">
    <tr><td>序号</td><td>书籍名称</td><td>作者</td><td>类型</td><td>人气</td></tr>
    <% @books.each_with_index  do |book, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%=link_to book.title, book_path(book) %></td>
        <td><%= book.author.name %></td>
        <td><%= book.classification.name rescue ""%></td>
        <td><%= book.click_count %></td>
      </tr>
    <% end %>
  </table>
</div>


