<div class="container">
  <h1>书籍列表</h1>
  <div class="query_area row">
    <%= form_for( books_path, method: 'GET', html: {class: 'form-group'}) do %>
      <div class="form-group row">
        <label class="col-sm-1 control-label">书籍名：</label>
        <div class="col-sm-3">
          <%= text_field_tag :title, params[:title], class:"form-control" %>
        </div>

        <label class="col-sm-1 control-label">作者名：</label>
        <div class="col-sm-3">
          <%= text_field_tag :author_name, params[:author_name], class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-1 control-label">分类：</label>
        <div class="col-sm-11">
          <% @classifications.insert(0, ["全部", "", @all_book_count]).each do |theme| %>
            <% if theme[2] > 0 %>
              <%= radio_button_tag 'classification', theme[1], params[:classification].to_s == theme[1].to_s %> <%= theme[0] %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-1 control-label">排序：</label>
        <div class="col-sm-11">
          <% [['书籍热门排行', 'click_count'], [ '最新书籍', 'id'], ['书籍收藏排行', 'collection_count'], ['书籍推荐排行', 'recommend_count']].each do |theme| %>
            <%= radio_button_tag 'sort', theme[1], params[:sort] == theme[1] %> <%= theme[0] %>
          <% end %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12">
          <%= submit_tag '搜索', class: 'btn btn-sm btn-primary' %>
          <%= button_tag '清空', type: 'button',class: 'form_reset btn btn-sm btn-primary' %>
          <%if have_admin_authority? %>
            <%= link_to '导出本页小说',
                        csv_export_books_path(
                          title: params[:title],
                          classification: params[:classification],
                          author_name: params[:author_name],
                          page: params[:page]
                        ),
                        class: 'btn btn-sm btn-primary', remote: true %>
          <%end %>
        </div>
      </div>
    <%end %>
  </div>

  <div class="book_list row">
    <% index = 1 + ((params[:page]||1).to_i-1) * (params[:per]||30).to_i %>
    <% @books.each  do |book| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%=link_to "#{index}.[#{ book.classification.try(:name) || "其他"}] #{book.title}", book_path(book) %>
          <% if have_admin_authority?%>
            <%= link_to '删除', book_path(book), method: :delete, data:{confirm: '确认删除？'}, class: 'float-r color-red' %>
          <%end  %>
        </div>

        <div class="panel-body">
          <ul class="book_info">
            <li>人气: <%= book.click_count %></li>
            <li>作者: <%= book.author.name %></li>
            <li>章节数: <%= book.book_chapters_count %></li>
            <li>字数: <%= book_words_style book.words %></li>
          </ul>
        </div>
      </div>

      <% index += 1 %>
    <% end %>
  </div>
  <%= paginate @books %>
</div>


