<div class="container volume">
  <div class="book-show-volume-manage">
    <h1><%= @book.title %></h1>
    <div class='row '>
      作者:<%= @book.author.name %>
      <% if current_user && current_user.admin? %>
        <%= link_to '设置', settings_book_path(@book), class: 'float-r color-red', style: 'margin-right: 10px;' %>
      <%end %>
    </div>
    <div class="row ">
      <% if have_do_authority?(@book) %>
        <% if @collection.present? %>
          <%= link_to '取消收藏', uncollection_book_path(@book), class: 'btn btn-sm btn-primary'%>
        <% else %>
          <%= link_to '收藏本书', collection_book_path(@book), class: 'btn btn-sm btn-primary'%>
        <% end %>
      <% end %>
      <% if have_author_authority?(@book) %>
        <%= link_to '编辑本书', edit_book_path(@book), class: 'btn btn-sm btn-primary'%>
        <%= link_to '卷标管理', book_book_volumes_path(@book), class: 'btn btn-sm btn-primary'%>
        <%= link_to '添加新的章节', new_book_book_chapter_path(@book), class: 'btn btn-sm btn-primary', 'data-no-turbolink' => true %>
      <% end %>
    </div>
  </div>

  <div class="bg-white pad-10 row" >
    &nbsp;&nbsp;&nbsp;&nbsp;简介：<%= @book.introduction %>
  </div>

  <div class="row chapter-list">
    <!--<div class=" align-center">正文</div>-->
    <% @book_chapters.each do |chapter| %>
      <%= link_to book_book_chapter_path(@book, chapter), 'data-no-turbolink' => true do%>
        <div class="col-sm-3">
          [<%= chapter.book_volume.try(:title) || '卷首语' %>] <%= chapter.title  %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @book_chapters %>
</div>
