<div class="container">
  <div>
    <h1><%= @book.title %></h1>
    <span>作者:<%= @book.author.name %></span>
  </div>

  <div class="">
    <%= link_to '卷标管理', book_book_volumes_path(@book) %>
    <%= link_to '添加新的章节', new_book_book_chapter_path(@book) %>
  </div>

  <div class="row bg-white">
    <% @book.book_chapters.each do |chapter| %>
      <div class="col-md-4 margint-5px">
        <a> <%= chapter.title%> </a>

      </div>
    <% end %>
  </div>
</div>
