<% books = Book.online_books.includes(:classification).book_type(book_type).order("click_count desc")
   books = books.where(classification_id: classification_id) if classification_id.present?

   books = books.limit(10) %>

<br/>
<% books.each do |book|  %>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><a href="<%= book_path(book) %>">[<%=  book.classification.try(:name) || "其他" %>]<%= book.title %></a></div>
      <div class="panel-body">
        <a href="<%= book_path(book) %>"><%= deal_string(book.introduction, 75)%></a>
      </div>
    </div>
  </div>
<%end %>
<%if books.blank? %>
    <div class="col-md-12">
      <h3>暂无</h3>
    </div>
<%end %>
