<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>参考 http://v3.bootcss.com/examples/theme/ 去看bootstrap的基本样式</p>
    <p><a class="btn btn-primary btn-lg" href="http://v3.bootcss.com/examples/theme/" target="_blank" role="button">Learn more »</a></p>
  </div>

  <div class="container">
    <hr class="border">
    <span><h2>TOP9</h2>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#">所有小说</a></li>
      <li role="presentation"><a href="#">原创</a></li>
      <li role="presentation"><a href="#">转载</a></li>
    </ul>
    </span>
    <!-- Example row of columns -->
    <div class="row bg-white">
      <% @books.each do |book|  %>
        <div class="col-md-4">
          <h3><a href="#">[<%=  book.classification.try(:name) || "其他" %>]<%= book.title %></a></h3>
          <div class="h-180">
          <span class="f-left">
            <a href="<%= book_path(book) %>"><%= image_tag "demo.jpg", class: "w-120 h-150" %></a>
          </span>
          <span>
            <a href="<%= book_path(book) %>"><%= book.introduction.length > 150 ? "#{book.introduction[0..150]}...": book.introduction %></a>
          </span>
          </div>
          <p><a class="btn btn-default" href="<%= book_path(book) %>" role="button">查看更多 »</a></p>
        </div>
      <%end %>
    </div>
  </div>

  <div class="container">
    <hr class="border">
    <footer>
      <p>© Company 2014</p>
    </footer>
  </div>

</div>


