<div class="container">
  <div class="row">
    <div class="col-sm-8 book-main">
        <div class="container1">
          <div class="alert alert-message alert-info fade in">
              <p class="tow-font">网络小说是指利用网络如BBS、Web界面连载发表的小说，与一般的小说比起来，网络小说的语法会更近口语并充斥网络流行语。另外除了文字内容，
                利用符号图案排版等进行变化也是其特色，网络小说是网络文学的主要形式。网络小说有广义和狭义之分，广义上可以包含所有在网络上发布和流传的小说，
                但从网络小说起源的狭义层次上，主要是指由网络写手创作并首次在网上发布，进而流传的小说形式。网络小说主要分为两类，一类的男生看的小说，被泛称为男频；
                另一类是女生看的小说，被泛称为女频。男生看的小说大多追求从身体到权利的强大，而女生看的小说大多从爱情的角度出发，而这两个类型的小说的强大取决于网络上男性和女性的比例...
              </p>

              <a class="btn btn-primary btn-sm" href="http://v3.bootcss.com/examples/theme/" target="_blank" role="button">查看更多 »</a>
          </div>
        </div>

        <div class="container1">
          <hr class="featurette-divider">
          <span><h2>TOP9</h2>
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><%=link_to '所有小说', tab_books_homes_path(book_type: ""), remote: true %></li>
            <li role="presentation"><%=link_to '原创', tab_books_homes_path(book_type: Book::CUSTOM), remote: true %></li>
            <li role="presentation"><%=link_to '转载', tab_books_homes_path(book_type: Book::REPRINT), remote: true %></li>
          </ul>
          </span>
          <!-- Example row of columns -->
          <div id="tab_books" class="row bg-white">
            <%=render 'tab_books', books: @books%>
          </div>
        </div>
    </div>

    <!-- right -->
    <div class="col-sm-3">
      <div class="sidebar-module sidebar-module-inset ">
        <div class="panel panel-default">
          <div class="panel-heading">小帖士</div>
          <div class="panel-body">
            <p>如果是你 Ruby, Rails 新手，请别在 Windows 上面折腾：<a href="https://ruby-china.org/topics/1020" target="_blank">https://ruby-china.org/topics/1020</a></p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">友情社区</div>
          <div class="panel-body">
            <ul class="list-group" style="text-align: center;">
               <li class="list-group-item"><a href="http://ruby-china.org" rel="nofollow" title="RubyChina 社区" target="_blank"><img src="https://o4j806krb.qnssl.com/public/images/ruby-china-20150529.png" style="width:130px; "></a></li>
               <li class="list-group-item"><a href="http://cnodejs.org" rel="nofollow" title="CNode 社区" target="_blank"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/d427ef3efd33b57721df152c2aa1735e.png" style="width:130px; "></a></li>
               <li class="list-group-item"><a href="https://laravel-china.org" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/d7782871f3fac7e85a95d20c74046909.png" style="width:130px; "></a></li>
               <li class="list-group-item"><a href="http://elixir-cn.com" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2015/f65fb5a10d3392a1db841c85716dd8f6.png" style="width: 140px; "></a></li>
               <li class="list-group-item"><a href="http://ionichina.com/" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/62e5d33d4f90ead9e798e3f8ae085f16.png" style="width: 140px;"></a></li>
               <li class="list-group-item"><a href="https://testerhome.com/" target="_blank" rel="nofollow"><img src="//ruby-china-files.b0.upaiyun.com/photo/2016/5cd78b730062ab3c768bcc2592c5c7fa.png" style="width: 150px;"></a></li>
            </ul>
          </div>
        </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Statistics</div>
          <div class="panel-body">
            <p>小说数量: <%= Book.count%> </p>
            <p>用户数量: <%= User.count%> </p>
            <p>总阅读量: <%= Book.pluck("sum(click_count)").first%> </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="featurette-divider">
    <footer>
      <p>Shanghai China ©jackping 2014</p>
    </footer>
  </div>
</div>
