<div class="container">
  <div class="row">
    <div class="col-sm-8 book-main">
      <div class="container1">
        <span>
          <h2>热门小说</h2>
        </span>
        <!-- Example row of columns -->
        <div id="tab_books" class="row bg-white">
          <%= Rails.cache.fetch("main_page_hot", expires_in: 10.minutes) do
            render 'tab_books', book_type: nil, classification_id: nil
          end.html_safe %>
        </div>
      </div>

      <% @classifications.each do |classification| %>
          <div class="container1">
            <hr class="featurette-divider">
            <span><h2><%= classification.name %>频道</h2></span>
            <!-- Example row of columns -->
            <div id="xh_books" class="row bg-white">
              <%= Rails.cache.fetch("main_page_classification_#{classification.id}", expires_in: 10.minutes) do
                render 'tab_books', book_type: nil, classification_id: classification.id
              end.html_safe %>
            </div>
          </div>
      <%end %>
    </div>

    <!-- right -->
    <div class="col-sm-3">
      <div class="sidebar-module sidebar-module-inset ">
        <div class="panel panel-default">
          <div class="panel-heading">今日更新</div>
          <div class="panel-body">
            <ul class="list-group" style="text-align: center;">
            <% Book.online_books.order(updated_at: :desc).limit(10).each do |book|%>
              <li class="list-group-item"><%= link_to "《#{book.title}》", book_path(book) %></li>
            <%end %>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">小贴士</div>
          <div class="panel-body">
            <p>如果是你 Ruby, Rails 新手，请别在 Windows 上面折腾：<a href="https://ruby-china.org/topics/1020" target="_blank">https://ruby-china.org/topics/1020</a></p>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">友情社区</div>
          <div class="panel-body">
            <ul class="list-group" style="text-align: center;">
               <li class="list-group-item">
                 <a href="https://ruby-china.org" rel="nofollow" title="RubyChina 社区" target="_blank" class="ruby-china">
                   <b style="color: #EB5424;">Ruby</b> China
                 </a>
               </li>
               <li class="list-group-item">
                 <a href="http://cnodejs.org" rel="nofollow" title="CNode 社区" target="_blank">
                   <%= image_tag("cnode.png", class: 'cnode')%>
                 </a>
               </li>

               <li class="list-group-item">
                 <a href="https://laravel-china.org" target="_blank" rel="nofollow">
                   <%= image_tag("Laravel.png", class: 'laravel')%>
                   <span class="site-name">Laravel</span>
                 </a></li>
               <li class="list-group-item">
                 <a href="https://testerhome.com/" target="_blank" rel="nofollow" class="testhome">TesterHome</a>
               </li>
            </ul>
          </div>
        </div>
        </div>

      <% if current_user && current_user.admin? %>
          <div class="panel panel-default">
            <div class="panel-heading">Statistics</div>
            <div class="panel-body">
              <p>小说数量: <%= Book.count%> </p>
              <p>用户数量: <%= User.count%> </p>
              <p>总阅读量: <%= Book.pluck("sum(click_count)").first%> </p>
            </div>
          </div>
      <% end %>

      </div>
    </div>
  </div>

  <div class="container">
    <hr class="featurette-divider">
    <footer>
      <p>Shanghai China ©jackping 2014</p>
    </footer>
  </div>
</div>
