<div class="container">
  <h1>列表</h1>
  <div class="query_area row">
  </div>
  <div class="book_list row">
    <table class="table">
      <tr>
        <td>名称</td>
        <td>今日开盘</td>
        <td>今日最高</td>
        <td>今日最低</td>
        <td>当前价格</td>
        <td>涨跌</td>
      </tr>
    <tr>
      <td>
        <%= @name_currencies[@currency.name.to_sym] %>
      </td>
      <td>
        <%= @currency.today_first%>
      </td>
      <td>
        <%= @currency.max%>
      </td>
      <td>
        <%= @currency.min%>
      </td>
      <td>
        <%= @currency.current%>
      </td>
      <td>
        <% rate = cacl_rate(@currency.current , @currency.today_first) %>
        <i class="color-<%= rate >0 ? 'green' : 'red'%>"><%= rate %>%</i>
      </td>
    </tr>
    </table>

    <table class="table">
      <tr>
        <td>价格</td>
        <td>涨跌</td>
        <td>时间</td>
      </tr>
      <% index = 0 %>
      <% @currency_infos.each  do |currency| %>
        <tr>
          <td id="<%= currency %>">
            <%= currency.value %>
          </td>
          <td>
            <% rate =  ( ((index+1) != @currency_infos.length) ? cacl_rate(currency.value , @currency_infos[index+1].value) : 0 ) %>
            <i class="color-<%= rate >0 ? 'green' : 'red'%>"><%= rate %>%</i>
            <% index += 1 %>
          </td>
          <td>
            <%= currency.created_at.to_s %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= paginate @currency_infos %>
  </div>
</div>

