<div class="container margint-20">
  <div class="row col-sm-12" >
    <%= render 'user_home/shared/nav' %>
  </div>
  <div class="row">
    <%=form_for(current_user) do |f|%>
        <div class=" col-sm-12">
          <span>手机：
            <%if current_user.phone%>
              <%= current_user.phone.to_s  %>
            <%else %>
              <%=f.text_field :phone, required: true %>
            <%end %>
          </span>
        </div>
        <div class=" col-sm-12">
          <span>昵称：
            <%=f.text_field :name, required: true %>
          </span>
        </div>
        <div class=" col-sm-12">
          <span>邮箱：
            <%=f.text_field :email, required: true %>
          </span>
        </div>

        <div class=" col-sm-12">
          <%= f.submit '保存修改' %>
        </div>
    <%end %>
  </div>
</div>
<%content_for :js_in_head do%>
<%end %>

