<div class="container">
  <div class=" main_class w-16X float-l" >
    <%= render 'user_home/shared/nav' %>
  </div>
  <div class="main_class w-84X float-l ">
    <div class="pad-5">
      <div>
        <span>我的作者名：<%= current_author.name %></span>
      </div>
      <div>
        <span>我的书籍</span>
        <table class="table">
          <tr><td>书籍名称</td><td>类型</td><td>人气</td><td>创建时间</td><td>更新时间</td><td>状态</td><td>操作</td></tr>
          <% current_author.books.order(id: :desc).each_with_index  do |book, i| %>
            <tr>
              <td><%=link_to book.title, book_path(book) %></td>
              <td><%= book.classification.name rescue ""%></td>
              <td><%= book.click_count %></td>
              <td><%= standard_time book.created_at %></td>
              <td><%= standard_time book.updated_at %></td>
              <td><%= book.status_name %></td>
              <td> 申请上线</td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

