<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title %></title>
  <%#= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true, type: "text/css", charset: 'utf-8' %>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/assets/kindeditor/kindeditor.js" ></script>
  <%= csrf_meta_tags %>
</head>
<body role="document">
<%= render 'shared/home_nav' %>
<%= render 'shared/flash_area' %>
<%= yield %>
</body>
</html>
