<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="max-age=0" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="Expires">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta content="telephone=no" name="format-detection">
  <meta content="魔书网, magic books, magic novels" name="keywords">
  <meta content="魔书网, 新一代的网络小说阅读，体验极致阅读。" name="description">
  <meta content="2015-08-19" name="publishdate">
  <meta content="王平 jack" name="author">
  <title><%= @page_title %></title>
  <%#= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true, type: "text/css", charset: 'utf-8' %>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/assets/kindeditor/kindeditor.js" ></script>
  <% if content_for?(:js_in_head) %>
      <%= yield(:js_in_head) %>
  <% end %>

  <%= csrf_meta_tags %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158765827-2"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158765827-2', {
          'page_title' : '<%= @page_title %>',
          'page_path': '<%= "#{controller_name}_#{action_name}" %>',
          'user_id': '<%= current_user.try(:id) %>'
      });
  </script>


  <!--baidu-->
  <script>
      var _hmt = _hmt || [];
      (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?c6cc6ee1b9207c2080dedce10ac061e2";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
      })();
  </script>
</head>
<body>
<%= render 'shared/home_nav' %>
<div class="flash_area" style="margin-top: 40px"></div>
<%= render 'shared/flash_area' %>
<%= yield %>
<%= render 'layouts/back_to_top' %>
</body>
  <% if content_for?(:js_in_footer) %>
      <%= yield(:js_in_footer) %>
  <% end %>
</html>
