<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="max-age=0" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="Expires">
  <meta content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta content="telephone=no" name="format-detection">
  <meta content="王平的订饭系统" name="keywords">
  <meta content="王平的订饭系统：http://test.dc.ikcrm.com/" name="description">
  <meta content="2015-08-19" name="publishdate">
  <meta content="王平" name="author">
  <script>
      window.faye_push_url = "<%= faye_push_uri %>";
      window.faye_push_access_token = "<%= faye_push_token %>";
      window.temp_access_token = "<%= current_user.try(:temp_access_token) %>";
      window.faye_client_js_url = '<%= CROSS_SITES[:faye_push][:host] %>/faye/client.js';

  </script>
  <title><%= @page_title %></title>
  <%#= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true, type: "text/css", charset: 'utf-8' %>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="/assets/kindeditor/kindeditor.js" ></script>
  <% if content_for?(:js_in_head) %>
      <%= yield(:js_in_head) %>
  <% end %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/home_nav' %>
<%= render 'shared/flash_area' %>
<%= yield %>
</body>
</html>
