<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="max-age=0" http-equiv="Cache-Control">
  <meta content="no-cache" http-equiv="pragma">
  <meta content="0" http-equiv="Expires">
  <meta content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
  <meta content="telephone=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title><%= @page_title %></title>
  <%= stylesheet_link_tag    'minings', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'minings', 'data-turbolinks-track' => true %>
  <script src="https://cdn.jsdelivr.net/npm/eosjs@16.0.6/lib/eos.min.js"></script>
  <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-core.min.js"></script>
  <script src="https://cdn.scattercdn.com/file/scatter-cdn/js/latest/scatterjs-plugin-eosjs.min.js"></script>
  <% if content_for?(:js_in_head) %>
      <%= yield(:js_in_head) %>
  <% end %>

  <%= csrf_meta_tags %>

  <script>
      function save_records(referrer, from, to, quantity, memo, transaction_id) {
          var data = {
              category: $("#mining_category").val(),
              referrer: referrer,
              from:  from,
              to:  to,
              quantity:  quantity,
              memo:  memo,
              transaction_id:  transaction_id,
          }

          if ($("#mining_category").val() != ""){
              $.ajax({
                  url: '<%= minings_records_path %>',
                  data: data,
                  type: 'post',
                  success: function(d){
                      if(d.code == 0){
                          console.log("record success")
                      }else{
                          console.log("error:" + d.message)
                      }
                  }

              })
          }

      }
  </script>
</head>
<body>
<%= render 'minings/shared/home_nav' %>

<div class="container" style="padding-top: 5px;">
  <%= yield %>
</div>

<div class="footer">
  <div class="row">
    <div class="col text-center">
      页面脚本集成了Scatter插件，请放心使用。
    </div>
  </div>
  <div class="raw">
    <div class="col text-center">
      © 2018 jackwp@dingtalk.com
    </div>
  </div>
</div>

</body>

</html>

<script>
    <% if content_for?(:js_in_footer) %>
    <%= yield(:js_in_footer) %>
    <% end %>
    $(function(){

    })
</script>